<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="img-rounded">
          <img class="img-rounded" src="/assets/logo-1257x577-alpha3.png" alt="" width="200px">
        </div>

        <p id="helpId" class="text-justify">
          Art. 1º O CONSELHO ESTADUAL DE EDUCAÇÃO DO TOCANTINS – CEE-TO – instituído pela Lei nº 05, de 23 de
          janeiro de 1989;
          regulamentado pela Lei Complementar nº 08, de 11 de dezembro de 1995, nos termos do Art. 133 da
          Constituição
          Estadual do Tocantins, é um órgão normativo, consultivo, propositor, mobilizador e supervisor do
          Sistema
          Estadual de Ensino e de assessoramento ao titular da pasta da Secretaria de Educação e Cultura.
          <br>
          <br>
          § 1º O CEE-TO constitui-se em unidade orçamentária de despesa, garantido o princípio de autonomia.
          <br>
          <br>
          § 2º O CEE-TO é vinculado à Secretaria da Educação e Cultura, e seus atos serão homologados pelo
          titular
          da
          pasta.
        </p>

        <h3>São atribuições do CEE/TO:</h3>
        <ul class="list-group">
          <li class="list-group-item">
            I – elaborar seu regimento e submetê-lo à aprovação do titular da pasta;
          </li>
          <li class="list-group-item">
            II – deliberar sobre matéria de caráter administrativo no âmbito do Conselho;
          </li>
          <li class="list-group-item">
            III – decidir sobre pedidos de licença dos Conselheiros e sua prorrogação;
          </li>
          <li class="list-group-item">
            IV – manter intercâmbio com o Conselho Nacional de Educação, com os Conselhos de Educação dos
            Estados,
            do Distrito Federal e dos municípios tocantinenses;
          </li>
          <li class="list-group-item">
            V – articular-se com órgãos e entidades federais, estaduais e municipais para assegurar a
            coordenação,
            divulgação ou execução de planos e projetos educacionais;
          </li>
          <li class="list-group-item">
            VI – promover e divulgar estudos sobre o Sistema Estadual de Ensino;
          </li>
          <li class="list-group-item">
            VII – deliberar e emitir parecer sobre matéria que lhe seja submetida pelas autoridades
            educacionais
            superiores;
          </li>
          <li class="list-group-item">
            VIII – interpretar, no âmbito de sua jurisdição, as disposições legais que fixam as diretrizes e
            bases
            da educação;
          </li>
          <li class="list-group-item">
            IX – aprovar:
            <ul class="list-group">
              <li class="list-group-item">
                a) o Plano Estadual de Educação e sua reformulação, acompanhando sua execução na forma
                da
                legislação vigente;
              </li>
              <li class="list-group-item">
                b) planos e projetos para concessão de auxílio financeiro ao Sistema Estadual de Ensino
                e
                aos
                programas educacionais dos municípios que não dispuserem do Conselho de Educação
                próprio;
              </li>
              <li class="list-group-item">
                c) iniciativas privadas consideradas eficientes na promoção da educação de excepcionais;
              </li>
              <li class="list-group-item">
                d) a inclusão do conteúdo programático da parte diversificada dos currículos escolares;
              </li>
              <li class="list-group-item">
                e) os regimentos, as estruturas curriculares, o corpo docente das escolas do Sistema
                Estadual de
                Ensino;
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            X – aprovar pedido de:
            <ul class="list-group">
              <li class="list-group-item">
                a) credenciamento de unidade de ensino;
              </li>
              <li class="list-group-item">
                b) autorização para funcionamento dos diversos níveis de ensino;
              </li>
              <li class="list-group-item">
                c) reconhecimento e renovação de reconhecimento do ensino por ele autorizado.
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            XI – propor medidas que visem à:
            <ul class="list-group">
              <li class="list-group-item">
                a) reorganização e melhoria do funcionamento do Sistema Estadual de Ensino;
              </li>
              <li class="list-group-item">
                b) expansão de oportunidades de acesso à educação;
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            XII – fixar normas para:
            <ul class="list-group">
              <li class="list-group-item">
                a) a organização administrativa, didática e disciplinar de cada unidade escolar, a ser
                regulada
                em seu regimento;
              </li>
              <li class="list-group-item">
                b) o tratamento especial a ser dado aos alunos portadores de necessidades educativas
                especiais,
                principalmente aos que se encontram em atraso considerável quanto à idade regular de
                matrícula,
                assim como aos superdotados;
              </li>
              <li class="list-group-item">
                c) as transferências de uma para outra unidade escolar, inclusive de escola de país
                estrangeiro,
                e as necessárias adaptações;
              </li>
              <li class="list-group-item">
                d) a criação e os pré-requisitos dos cursos ou exames supletivos;
              </li>
              <li class="list-group-item">
                e) a criação e o funcionamento da unidade escolar de educação básica;
              </li>
              <li class="list-group-item">
                f) a criação e o funcionamento das instituições de Ensino Superior criadas e mantidas
                pelo
                Poder
                Público Estadual e Municipal;
              </li>
              <li class="list-group-item">
                g) cassação de autorização de funcionamento, em caso de irregularidades, da unidade
                escolar
                do
                Sistema Estadual de Ensino;
              </li>
              <li class="list-group-item">
                h) autorização de funcionamento, reconhecimento, credenciamento e inspeção de unidade
                escolar do
                Sistema Estadual de Ensino.
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            XIII – regulamentar o exercício do magistério fundamental e médio.
          </li>
          <li class="list-group-item">
            XIV – autorizar:
            <ul class="list-group">
              <li class="list-group-item">
                a) a mudança de denominação, de mantenedora e de endereço;
              </li>
              <li class="list-group-item">
                b) a organização de cursos ou instituições de ensino experimental, obedecidas as
                disposições
                da
                Lei nº 9.394/96;
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            XV – acolher e julgar, os recursos, contra atos administrativos das instituições de educação
            superior do
            Sistema Estadual de Ensino;
          </li>
          <li class="list-group-item">
            XVI – o exercício de outras funções a ele atribuídas pela legislação federal ou estadual ou por
            determinação superior.
          </li>
        </ul>

        <br>

        <strong>Acesse aqui, na íntegra:</strong>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="" target="_blank">Lei nº 05, de 23 de janeiro de 1989.</a>
            (Institui o CEE/TO)
          </li>
          <li class="list-group-item">
            <a href="" target="_blank">Lei Complementar nº 08, de 11 de dezembro de 1995.</a>
            (Regulamenta o CEE/TO)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
