<div class="text-center">
    <img src="/assets/logo-1257x577-alpha3.png" alt="" width="500px">
</div>

<div class="alert bg-gradient-lightblue text-justify text-bold" role="alert">
    <h4 class="alert-heading">Olá visitante, seja bem vindo ao SIGAS!</h4>
    <br>
    <p>O Sistema de Gestão de Avaliação e Supervisão (SIGAS/CEE/TO) tem por objetivo principal permitir ao Conselho
        Estadual de Educação do Tocantins (CEE/TO) acompanhar os processos de atos autorizativos e supervisionar as
        instituições de ensino, e também, auxiliar instituições pertencentes ao sistema estadual de ensino, no que tange
        aos seus processos de regulação das IES e de seus cursos. O sistema de avaliação também permitirá o
        acompanhamento do fluxo dos processos regulatórios como também solicitação do aumento de vagas.
    </p>
    <hr>
    <p class="mb-0">
        Os usuários do SIGAS são, principalmente, assessores do CEE/TO, técnicos da Seduc e avaliadores, gestores e
        servidores das IES integradas ao Sistema Estadual de Ensino.
        <br><br>
        O SIGAS atenderá usuários internos e externos, sendo, as IES e a comunidade interessadas, respectivamente.
    </p>
</div>
