<!-- userModal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="userModalLabel">
          <span *ngIf="true">Inserir</span>
          <span *ngIf="true">Alterar</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              Nome:
              <input type="text" ng-model="x.name" class="form-control" placeholder="Digite seu nome completo">
            </div>
            <div class="col-md-4">
              Perfil:
              <select id="level" ng-model="x.dataAccess.profiles" ng-options="i for i in profileList track by i"
                class="form-control"></select>
            </div>
            <div class="col-md-6">
              Senha:
              <input type="text" ng-model="x.password" class="form-control" placeholder="">
            </div>
            <div class="col-md-6">
              CPF:
              <input type="text" ng-model="x.cpf" class="form-control" placeholder="">
            </div>
            <div class="col-md-6">
              Repetir senha:
              <input type="text" ng-model="x.password" class="form-control" placeholder="">
            </div>
            <div class="col-md-6">
              E-mail:
              <input type="text" ng-change="x.email = x.email.toLowerCase()" ng-model="x.email" class="form-control" />
            </div>
            <div class="col-md-3">
              DDI (+55 BR):
              <input type="text" ng-model="x.ddi" class="form-control" placeholder="+55">
            </div>
            <div class="col-md-3">
              DDD (63 TO):
              <input type="text" ng-model="x.ddd" class="form-control" placeholder="63">
            </div>
            <div class="col-md-6">
              Telefone:
              <input type="text" ng-model="x.phone" class="form-control">
            </div>
            <div class="col-md-12">
              Descrição:
              <textarea rows="6" ng-model="x.description" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="reset" class="btn btn-default" ng-hide="x._id">Limpar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createUser()"
          *ngIf="true">Salvar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()"
          *ngIf="true">Atualizar</button>
      </div>

    </div>
  </div>
</div>
