<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sobre mim</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <strong><i class="fas fa-book mr-1"></i> Formação (Education)</strong>

        <p class="text-muted">
            Tecnólogo em Sistemas para Internet;
            Especialista em Engenharia de Software;
            Especialista em Ciência de Dados e BigData Analytics;
            Técnico em Segurança da Informação.
        </p>

        <hr>

        <strong><i class="fas fa-map-marker-alt mr-1"></i> Onde moro (Location)</strong>

        <p class="text-muted">Palmas, Tocantins</p>

        <hr>

        <strong><i class="fas fa-pencil-alt mr-1"></i> Habilidades (Skills)</strong>

        <p class="text-muted">
            <span class="badge badge-danger">Angular</span>
            &nbsp;
            <span class="badge badge-success">Coding</span>
            &nbsp;
            <span class="badge badge-info">Javascript</span>
            &nbsp;
            <span class="badge badge-warning">Java</span>
            &nbsp;
            <span class="badge badge-primary">Node.js</span>
        </p>

        <hr>

        <strong><i class="far fa-file-alt mr-1"></i> Observação</strong>

        <p class="text-muted">Aficionado em aprender e entusiasta da área de tecnologia, nunca parou de
            estudar. Estudando a fundo diversas novas tecnologias, atuando principalmente em stacks
            envolvendo JavaScript, mas não abrindo mão de bons desafios.</p>
    </div>
    <!-- /.card-body -->
</div>
