<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
            <h3 class="widget-user-username">
                NOME DO PROCURADOR
            </h3>
            <h5 class="widget-user-desc"></h5>
        </div>
        <div class="widget-user-image">
            <i class="fas fa-user-circle fa-6x" *ngIf="item.name"></i>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{ item.contact?.phoneList[0]?.number }}</h5>
                        <span class="description-text">Telefone</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{ item.contact?.emailList[0]?.address }}</h5>
                        <span class="description-text">E-Mail</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">{{ item.contact?.addressList[0]?.zipcode }}</h5>
                        <span class="description-text">CEP</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="tab-pane active" id="settings">
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputName" class="col col-form-label">Nome completo:</label>
                <div class="col-sm-9">
                    {{ item.name }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col col-form-label">Emails:</label>
                <div class="col-sm-9">
                    <!-- {{ util.emailListToString(item.contact.emailList, ' | ') }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Telefones:</label>
                <div class="col-sm-9 centered">
                    <!-- {{ util.phoneListToString(item.contact.phoneList, ' | ') }} -->
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col col-form-label">Descrição:</label>
                <div class="col-sm-9">
                    {{ item.description }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSkills" class="col col-form-label">Grupos:</label>
                <div class="col-sm-9">
                    <div *ngFor="let item of item.dataAccess?.groupList">
                        <button class="btn btn-info btn-xs">{{ item.name }}</button>
                        &nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
