
  <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">
    <li class="nav-item sd-bb">&nbsp;</li>

    <!-- <li class="nav-item text-white text-center text-monospace">COMISSÃO</li> -->

    <li class="nav-item">
      <a class="nav-link" routerLink="/instrument">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Acessar instrumentos
        <small class="right"><i class="far fa-clock text-warning"></i></small>
    </a>
    </li>

  </ul>
