<!-- * Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">

    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="nav-icon fas fa-home"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard"><i class="nav-icon fa fa-tachometer-alt"></i>
        Dashboard</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/institution"><i class="nav-icon fa fa-angle-double-right"></i>
        Instituição</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/institution-list"><i class="nav-icon fa fa-angle-double-right"></i>
        Instituições</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/team.list"><i class="nav-icon fa fa-angle-double-right"></i>
        Equipes</a>
    </li>

    <li class="nav-item">&nbsp;</li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/instrumentProfile"><i class="nav-icon fa fa-angle-double-right"></i> Acessar
        instrumentos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/instrument"><i class="nav-icon fa fa-angle-double-right"></i>
        Instrumentos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/dimension.list">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Dimensões</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/indicator">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Indicadores
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/critery">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Critérios</a>
    </li>

    <li class="nav-item sd-bb">&nbsp;</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/user">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Usuários
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/group">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Grupos
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/settings.list">
        <i class="nav-icon fa fa-cogs"></i>
        Configurações
      </a>
    </li>

    <li class="nav-item">&nbsp;</li>

    <li class="nav-item">&nbsp;</li>
  </ul>
</nav>
