<!-- * Sidebar Menu -->
<nav class="mt-2">

  <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">

    <li class="nav-item sd-bb">&nbsp;</li>
    <li class="nav-item text-white text-center text-monospace">ANÔNIMO</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="nav-icon fas fa-home"></i>
        O CEE/TO
      </a>
    </li>

  </ul>

  <app-nav-menu-cee></app-nav-menu-cee>

  <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">
    <li class="nav-item sd-bb">&nbsp;</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/user">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Usuários
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/group">
        <i class="nav-icon fa fa-angle-double-right"></i>
        Grupos
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/settings.list">
        <i class="nav-icon fa fa-cogs"></i>
        Configurações
      </a>
    </li>

    <li class="nav-item">&nbsp;</li>

    <li class="nav-item">&nbsp;</li>
  </ul>
</nav>
