<br>
<div class="container-fluid">
  <div class="row hidden-print">
      <div class="col-12">

          <!-- * NAV [horizon] -->
          <div id="ips-list-watch" class="btn-group" role="group">
              <a class="btn btn-default active" routerLink="dashboard">Dashboard</a>
              <a class="btn btn-default" routerLink="maintained">Mantida</a>
              <a class="btn btn-default" routerLink="maintainer">Mantenedora</a>
              <a class="btn btn-default" routerLink="course">Cursos</a>
              <a class="btn btn-default" routerLink="procurator">Procurador</a>
              <a class="btn btn-default" routerLink="auxiliary">Auxiliares</a>
          </div>
      </div>
  </div>

  <br><br>

  <router-outlet></router-outlet>
</div>
