<ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">

    <li class="nav-item sd-bb">&nbsp;</li>
    <!-- <li class="nav-item text-white text-center text-monospace">INSTITUIÇÃO</li> -->

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/home">
            <i class="nav-icon fas fa-home"></i>
            Home
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/dashboard">
            <i class="nav-icon fa fa-tachometer-alt"></i>
            Dashboard
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/maintained"><i class="nav-icon fa fa-angle-double-right"></i>
            Mantida
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/course"><i class="nav-icon fa fa-angle-double-right"></i>
            Cursos
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/procurator"><i class="nav-icon fa fa-angle-double-right"></i>
            Procurador
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/auxiliary"><i class="nav-icon fa fa-angle-double-right"></i>
            Auxiliares
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/user"><i class="nav-icon fa fa-angle-double-right"></i>
            Usuários
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institution/maintainer"><i class="nav-icon fa fa-angle-double-right"></i>
            Mantenedora
            <small class="right"><i class="far fa-clock text-warning"></i></small>
        </a>
    </li>

</ul>
