<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

            <!-- * Image -->
            <app-profile-card-image></app-profile-card-image>

            <!-- * About Me -->
            <app-profile-card-aboutme></app-profile-card-aboutme>

        </div>
        <div class="col-md-9">
            <!-- * Content Main -->
            <app-profile-card-main></app-profile-card-main>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

<app-profile-form-modal></app-profile-form-modal>
