<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <!-- <img class="profile-user-img img-fluid img-circle" src="./../../../assets/unitins.png"
                                alt="User profile picture"> -->
            <i class="fas fa-user-circle fa-5x"></i>
        </div>

        <h3 class="profile-username text-center">Haroldo Cruz</h3>

        <p class="text-muted text-center">Engenheiro de Software <br> Software Engineer</p>

        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#userModal">
            <i class="fas fa-edit"></i>&nbsp;<b>Editar dados</b>
        </button>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item"></li>
            <li class="list-group-item">
                <a routerLink="/user">
                    <b>Acessos</b> <span class="float-right">1,722</span>
                </a>
            </li>
            <li class="list-group-item">
                <a routerLink="/user">
                    <b>Atividades</b> <span class="float-right">632</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
