<!-- The timeline -->
<div class="timeline timeline-inverse">

    <!-- timeline time label -->
    <div class="time-label">
        <span class="bg-info">
            13 Fev. 2021
        </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
        <i class="fas fa-user-slash bg-danger"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 12:05</span>

            <h3 class="timeline-header"><a href="#">Joana Santos</a> desativou este usuário
            </h3>
        </div>
    </div>
    <!-- END timeline item -->

    <!-- timeline time label -->
    <div class="time-label">
        <span class="bg-info">
            12 Fev. 2021
        </span>
    </div>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <div>
        <i class="fas fa-envelope bg-primary"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 12:05</span>

            <h3 class="timeline-header">Enviou um email
            </h3>
        </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
        <i class="fas fa-user bg-info"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 09:48</span>

            <h3 class="timeline-header border-0">Editou os dados de um usuário
            </h3>
        </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
        <i class="fas fa-arrows-alt-h bg-warning"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 09:11</span>

            <h3 class="timeline-header">Tramitou um processo
            </h3>
        </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <div class="time-label">
        <span class="bg-info">
            20 Jan. 2021
        </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
        <i class="fas fa-camera bg-purple"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 15:52</span>

            <h3 class="timeline-header">Fez upload de imagem
            </h3>

            <div class="timeline-body">
                <img src="https://placehold.it/150x100" alt="...">
                <img src="https://placehold.it/150x100" alt="...">
                <img src="https://placehold.it/150x100" alt="...">
                <img src="https://placehold.it/150x100" alt="...">
            </div>
        </div>
    </div>
    <!-- END timeline item -->
    <div>
        <i class="far fa-clock bg-gray"></i>
    </div>
</div>
