<div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
            <h3 class="widget-user-username">
                Associação Educacional Irmãos Oliveira Uchimura
            </h3>
            <h5 class="widget-user-desc">AEIOU</h5>
        </div>
        <div class="widget-user-image">
            <i class="fas fa-user-circle fa-6x" *ngIf="item.name"></i>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">
                            +55 63 98458-9691
                            {{ item.contact?.phoneList[0]?.number }}
                        </h5>
                        <span class="description-text">Telefone</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">
                            contato@aeiou.com.br
                            {{ item.contact?.emailList[0]?.address }}
                        </h5>
                        <span class="description-text">E-Mail</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">
                            13.366.432/0001-10
                            {{ item.contact?.addressList[0]?.zipcode }}
                        </h5>
                        <span class="description-text">CNPJ</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="tab-pane active" id="settings">
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputName" class="col col-form-label">Razão Social:</label>
                <div class="col-sm-9">
                    Oliveira e Uchimura S.A.
                    {{ item.name }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col col-form-label">Emails:</label>
                <div class="col-sm-9">
                    contato@aeiou.com.br | secretaria@aeiou.com.br
                    <!-- {{ util.emailListToString(item.contact.emailList, ' | ') }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">Telefones:</label>
                <div class="col-sm-9 centered">
                    +55 63 98458-9691 (Recepção) | +55 63 98458-9691 (Secretaria)
                    <!-- {{ util.phoneListToString(item.contact.phoneList, ' | ') }} -->
                </div>
            </div>
            <div class="form-group row">
                <label for="inputExperience" class="col col-form-label">Descrição:</label>
                <div class="col-sm-9">
                    {{ item.description }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSkills" class="col col-form-label">Endereço:</label>
                <div class="col-sm-9">
                    <strong>01:</strong> 77.062-060, rua 26 quadra 119, lote 21, Jardim Aureny III, Palmas, Tocantins (Sede, Administração)
                    <br>
                    <strong>02:</strong> 77.015.034, 103 Sul, Rua SO 01, Lote 08, Centro, Palmas, Tocantins (Anexo I)
                    <!-- <div *ngFor="let i of item.contact.addressList">
                    </div> -->
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSkills" class="col col-form-label">Base legal:</label>
                <div class="col-sm-9">
                    <div *ngFor="let i of item.legalBaseList">
                        <a href="{{i.link}}" class="">{{ i.name }}</a> - {{ i.description }}
                        &nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
