<br>
<div class="container-fluid">
  <div class="row hidden-print">
    <div class="col-6">

      <!-- * Button -->
      <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#userModal" (click)="edit(null)">
        <i class="fa fa-plus"></i>
        Criar novo
      </button>

      <br><br>

      <!-- * Filter field -->
      <div class="input-group mb-3">
        <div class="input-group-append">
          <div class="input-group-text">
            <span><i class="fa fa-filter"></i></span>
          </div>
        </div>
        <input class="form-control" type="text" [(ngModel)]="userService.filtro" placeholder="Filtrar">
      </div>

    </div>
  </div>
</div>

<app-user-list></app-user-list>

<app-user-form-modal></app-user-form-modal>
