
  <ul class="nav nav-pills nav-sidebar nav-legacy flex-column" data-widget="treeview" role="menu">
    <!-- * CEE -->
    <li class="nav-item sd-bb">&nbsp;</li>
    <li class="nav-item text-white text-center text-monospace">CEE</li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee">
        <i class="nav-icon fas fa-home"></i>
        Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee/dashboard">
        <i class="nav-icon fa fa-tachometer-alt"></i>
        Dashboard</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee/institution"><i class="nav-icon fa fa-angle-double-right"></i>
        Instituições</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee/process"><i class="nav-icon fa fa-angle-double-right"></i>
        Processos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee/instrument"><i class="nav-icon fa fa-angle-double-right"></i>
        Instrumentos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cee/commission"><i class="nav-icon fa fa-angle-double-right"></i>
        Comissões</a>
    </li>

  </ul>
