<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">email</th>
      <th scope="col">Grupo</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.level }}</td>
      <td>
        <i class="fas fa-edit"></i>
        &nbsp;
        <i class="fas fa-trash" (click)="delete(user.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
